{% extends "layout.html" %}
 {% block title %}
    Home Page
 {% endblock %}

{% block content %}
 <!-- Carousel Start -->
 <div class="container-fluid p-0" style="margin-bottom: 90px;">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
        <img class="w-100" src="static/image/plan01.jpeg" alt="Image" style="height: 100%; object-fit: cover;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3"> Nous Contacter</h4>
                        <h1 class="display-1 text-white mb-md-4">Meilleur Design</h1>
                        <a href="services" class="btn btn-primary py-md-3 px-md-5 mt-2">Nos Services</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static 'image/plan01.jpeg' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Nous Contacter</h4>
                        <h1 class="display-1 text-white mb-md-4">Meilleur Prix</h1>
                         {% if user.is_authenticated %}
                        <a href="/services" class="btn btn-primary py-md-3 px-md-5 mt-2">Our Services</a>
                        {% else %}
                        <a href="/login?next=/users" class="btn btn-primary py-md-3 px-md-5 mt-2">Nos Services</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>
<!-- Carousel End -->
<!-- Important Note Start -->
<div class="container mb-4">
    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="alert alert-warning shadow-sm h-100" style="font-size: 1.1rem;">
                <strong>Note Importante :</strong><br>
                Nova_Plan Builder's s'engage à fournir des services de qualité, dans le respect des normes de sécurité et de l'environnement. Pour toute demande urgente ou question spécifique, veuillez nous contacter directement via la page <a href="/contact" class="alert-link">Contact</a>.
            </div>
        </div>
        <div class="col-lg-8"></div>
    </div>
</div>
<!-- Important Note End -->
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Bienvenue a <span class="text-primary">Nova_Plan Builder's</span></h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <img class="w-75 mb-4" src="{% static 'image/plan002.jpg' %}" alt="">
                    <p>Bienvenue chez Nova Plan Builder, là où la vision rencontre la structure.

À la croisée d'idées audacieuses et de fondations solides, nous donnons vie aux espaces. Que vous rêviez d'une nouvelle maison, d'un espace commercial remarquable ou que vous réimaginiez votre environnement, nous sommes là pour le construire avec brio et élégance.

Avec une passion pour le design et un engagement envers l'artisanat, notre équipe d'architectes, d'ingénieurs et de constructeurs donne vie à votre vision. Du plan à la poutre finale, nous allions créativité, précision et soin à chaque étape du projet.

Découvrez nos projets, rencontrez notre équipe et découvrez comment nous transformons les plans en réalité. Construisons ensemble quelque chose d'exceptionnel.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-headset text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">24/7  Support</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-home text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">Contactez nous pour votre Architecture, quand vous voulez</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">Disponible Partout</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Nos Services</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-home text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">01</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Architechture</h4>
                        <p class="m-0">L'architecture est bien plus qu'une structure : c'est l'histoire qu'elle raconte, les sentiments qu'elle évoque et les vies qu'elle façonne. Chez Nova Plan Builder, nous sommes convaincus qu'un design exceptionnel naît de l'équilibre parfait entre forme et fonction, art et ingénierie, imagination et réalité.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item active d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-money-check-alt text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">02</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Devis</h4>
                        <p class="m-0"> Que vous envisagiez une construction résidentielle élégante, un espace commercial dynamique ou une rénovation sur mesure, notre équipe d'architectes est là pour vous accompagner de l'idée à la réalisation.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-map text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">03</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Etude terrain</h4>
                        <p class="m-0">Avant tout début de chantier, une base solide repose sur la connaissance. Nos services d'inspection de zone fournissent une analyse approfondie du site de votre projet, évaluant le terrain, la topographie, les réglementations de zonage et les éventuels défis de conception.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-cogs text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">04</h1>
                        </div>
                        <h4 class="text-uppercase mb-3"> Conception Plan</h4>
                        <p class="m-0">Toute grande structure naît d'une idée puissante, et un plan adapté lui donne vie. Nos services de conception transforment vos objectifs en stratégies de conception complètes et concrètes, gages de réussite.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-hammer text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">05</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Renovation</h4>
                        <p class="m-0">Votre maison a une histoire et nous sommes là pour la restaurer avec soin, précision et savoir-faire. Qu'il s'agisse de préserver le charme historique ou de moderniser votre maison pour l'adapter au style de vie actuel, nos services de restauration allient savoir-faire et caractère en parfaite harmonie.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-building text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">06</h1>
                        </div>
                        <h4 class="text-uppercase mb-3"> Constrution Moderne</h4>
                        <p class="m-0">Aujourd'hui, l'innovation est au cœur de tout ce que nous construisons. Nos services de construction modernes allient technologie de pointe, design contemporain et pratiques durables pour créer des espaces non seulement conçus pour aujourd'hui, mais aussi pour demain.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Banner Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="bg-banner py-5 px-4 text-center">
                <div class="py-5">
                    <h1 class="display-1 text-uppercase text-primary mb-4"> OFF</h1>
                    <h1 class="text-uppercase text-light mb-4">Offres Speciales pour les nouveaux membre</h1>
                    <p class="mb-4">De 1er a 30 Janvier 2026</p>
                    <a class="btn btn-primary mt-2 py-3 px-5" href="/users">Register Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->


    <!-- Rent A Car Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Trouvez Votre Nouvelle Maison</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-1.png" alt="">
                        <h4 class="text-uppercase mb-4">Structures Bois</h4>
                        <a class="btn btn-primary px-3" href="">A partir de 00.00$</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item active mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-2.png" alt="">
                        <h4 class="text-uppercase mb-4"> Structures Metal</h4>
                        <a class="btn btn-primary px-3" href="">A partir de 00.00$</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-3.png" alt="">
                        <h4 class="text-uppercase mb-4">Parasismiques</h4>
                        <a class="btn btn-primary px-3" href="">A partir de 00.00$</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-4.png" alt="">
                        <h4 class="text-uppercase mb-4">Structures Beton</h4>
                        <a class="btn btn-primary px-3" href="">A partir de 00.00$</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-5.png" alt="">
                        <h4 class="text-uppercase mb-4">Structures Mixte</h4>
                        <a class="btn btn-primary px-3" href="">A partir de 00.00$</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-6.png" alt="">
                        <h4 class="text-uppercase mb-4">Nouvelles Structures</h4>
                        <a class="btn btn-primary px-3" href="">A partir de 00.00$</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Rent A Car End -->



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3790.30709427879!2d-73.75511352494581!3d18.19580638283588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ec79f24d5da7a4b%3A0x2892051ee1f9d32e!2sWolf_Pack%20Corporation!5e0!3m2!1sen!2sht!4v1737089184476!5m2!1sen!2sht" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}
