{% extends "layout.html" %}
 {% block title %}
    Home Page
 {% endblock %}

{% block content %}
 <!-- Carousel Start -->
 <div class="container-fluid p-0" style="margin-bottom: 90px;">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
        <img class="w-100" src="static/image/plan01.jpeg" alt="Image" style="height: 100%; object-fit: cover;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Contact Us</h4>
                        <h1 class="display-1 text-white mb-md-4">Best Home Design</h1>
                        <a href="services" class="btn btn-primary py-md-3 px-md-5 mt-2">Our Services</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="static/image/plan01.jpeg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Contact Us</h4>
                        <h1 class="display-1 text-white mb-md-4">Best Price For Your Quote</h1>
                         {% if user.is_authenticated %}
                        <a href="/services" class="btn btn-primary py-md-3 px-md-5 mt-2">Our Services</a>
                        {% else %}
                        <a href="/login?next=/users" class="btn btn-primary py-md-3 px-md-5 mt-2">Our Services</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>
<!-- Carousel End -->
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Welcome To <span class="text-primary">Nova_Plan Builder's</span></h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <img class="w-75 mb-4" src="static/image/plan002.jpg" alt="">
                    <p>Welcome to Nova Plan Builder's Where Vision Meets Structure

At the intersection of bold ideas and solid foundations, we bring spaces to life. Whether you're dreaming up a new home, envisioning a striking commercial space, or reimagining your environment, we’re here to build it beautifully and brilliantly.

With a passion for design and a commitment to craftsmanship, our team of architects, engineers, and builders turns your vision into lasting form. From blueprint to final beam, we blend creativity, precision, and care in every step of the journey.

Explore our projects, meet the team, and see how we transform plans into purpose. Let's build something remarkable together.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-headset text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">24/7  Support</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-home text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">Booking for your Architechture at Anytime</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">Available Anywhere</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Our Services</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-home text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">01</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Architechture</h4>
                        <p class="m-0">Architecture is more than the structure it’s the story it tells, the feeling it evokes, and the lives it shapes. At Nova Plan Builder's, we believe that exceptional design emerges from the perfect balance of form and function, art and engineering, imagination and reality.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item active d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-money-check-alt text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">02</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Quote</h4>
                        <p class="m-0">Let’s Design Your Vision Ready to turn concept into creation? Whether you're planning a sleek residential build, a dynamic commercial space, or a bespoke renovation, our architectural team is here to guide you from idea to execution.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-map text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">03</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Area Inspection</h4>
                        <p class="m-0">Before any groundbreaking begins, a solid foundation starts with knowledge. Our Area Inspection Services provide an in depth analysis of your project site evaluating terrain, topography, zoning regulations, and potential design challenges.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-cogs text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">04</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Plan Conception</h4>
                        <p class="m-0">Every great structure starts with a powerful idea and the right plan brings that idea to life. Our Plan Conception Services transform your goals into comprehensive, actionable design strategies that serve as the blueprint for success.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-hammer text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">05</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Home Restauration</h4>
                        <p class="m-0">Your home has a story and we’re here to help restore it with care, precision, and artistry. Whether it’s preserving historical charm or modernizing for today’s lifestyle, our Home Restoration Services bring craftsmanship and character together in perfect harmony.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-building text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">06</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Modern Constrution</h4>
                        <p class="m-0">Today Innovation is at the heart of everything we build. Our Modern Construction Services combine cutting edge technology, contemporary design, and sustainable practices to create spaces that are not just built for today but designed for the future.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Banner Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="bg-banner py-5 px-4 text-center">
                <div class="py-5">
                    <h1 class="display-1 text-uppercase text-primary mb-4"> OFF</h1>
                    <h1 class="text-uppercase text-light mb-4">Special Offer For New Members</h1>
                    <p class="mb-4">Only for Sunday from 1st Jan to 30th Jan 2026</p>
                    <a class="btn btn-primary mt-2 py-3 px-5" href="/users">Register Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->


    <!-- Rent A Car Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Find Your New Home</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-1.png" alt="">
                        <h4 class="text-uppercase mb-4">Wood Structures</h4>
                        <a class="btn btn-primary px-3" href="">$9.60/Month</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item active mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-2.png" alt="">
                        <h4 class="text-uppercase mb-4">Metal Structures</h4>
                        <a class="btn btn-primary px-3" href="">$9.50/Month</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-3.png" alt="">
                        <h4 class="text-uppercase mb-4">Parasismics</h4>
                        <a class="btn btn-primary px-3" href="">$15.00/Month</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-4.png" alt="">
                        <h4 class="text-uppercase mb-4">Wood Structures</h4>
                        <a class="btn btn-primary px-3" href="">$99.00/Month</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-5.png" alt="">
                        <h4 class="text-uppercase mb-4">Wood Structures</h4>
                        <a class="btn btn-primary px-3" href="">$99.00/Month</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="img/car-rent-6.png" alt="">
                        <h4 class="text-uppercase mb-4">Wood Structures</h4>
                        <a class="btn btn-primary px-3" href="">$99.00/Month</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Rent A Car End -->



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3790.30709427879!2d-73.75511352494581!3d18.19580638283588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ec79f24d5da7a4b%3A0x2892051ee1f9d32e!2sWolf_Pack%20Corporation!5e0!3m2!1sen!2sht!4v1737089184476!5m2!1sen!2sht" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}
